// Resource.rc

#include "Resource.h"

IDI_APPLICATION_ICON ICON														"Application.ico"

IDR_CONTEXT_MENU MENU DISCARDABLE
BEGIN
	POPUP "Context"
	BEGIN
		MENUITEM "&About",														IDM_HELP_ABOUT
	END
END

IDR_MAIN_MENU MENU
	BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "Exit",														IDM_FILE_EXIT
	END
	POPUP "&Tab"
	BEGIN
		MENUITEM "New",															IDM_TAB_NEW
		MENUITEM SEPARATOR
		MENUITEM "Close",														IDM_TAB_CLOSE
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About",														IDM_HELP_ABOUT
	END
END